body {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* https://www.pexels.com/photo/high-angle-view-of-cityscape-against-cloudy-sky-313782/ */
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 220vh;
}

.container {
  text-align: center;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  height: 150px;
  box-shadow: 0 0 3px;
  background-color: white;
}

#timer {
  font-size: 30px;
  align-items: center;
  padding: 20px;
}

.start,
.stop {
  border-radius: 10px;
  border-style: hidden;
}

.start {
  background-color: #baff2f;
  margin-right: 8px;
}
.stop {
  background-color: #ffb32f;
  margin-left: 8px;
}

.fa-play,
.fa-stop,
.fa-pause {
  font-size: 30px;
  padding: 10px;
  --fa-animation-duration: 2s;
}
